<div ng-controller="CardCtrl as cardCtrl" ng-cloak>
    <md-content>
        <md-list>
            <md-toolbar style="background-color:white;" layout="row" flex>
                <h4 flex-offset="5">{{currMonth}}</h4>
                <md-button flex-offset="65"><md-icon md-svg-src="/assets/img/calendar.svg" aria-label="calendar"></md-icon></md-button>
            </md-toolbar>
            <md-divider></md-divider>
            <md-list-item ng-if="latestEntry.entryTime.getDate() != currDate.getDate()">
                <md-content layout="row" layout-fill >
                    <div style="background-color:teal;text-align:center;width:50px;height:50px;margin-top:5px;margin-bottom:5px;padding-top:5px;color:white; font-size:18px;">{{entry.entryTime.getDate()}} {{currMonth}}</div>
                        
                    <div style="margin:5px;color:#3E5060;" class="md-list-item-text" flex>
                            <a ng-href="/#/entryone">Add today's entry here!</a>
                    </div>
                    <md-icon md-svg-src={{getEmoticonPath(entry.entryMood)}} aria-label="emoticon" style="width:20px;height:20px;" ></md-icon>
                </md-content>
            </md-list-item>
            <md-list-item ng-repeat="entry in currMonthEntries">
                <md-content layout="row" layout-fill>
                    
                    <div style="background-color:teal;text-align:center;width:50px;height:50px;margin-top:5px;margin-bottom:5px;padding-top:5px;color:white; font-size:18px;">{{entry.entryTime.getDate()}} {{currMonth}}</div>
                    
                    <div style="margin:5px;color:#3E5060;" class="md-list-item-text" flex>
                          {{entry.entryThought1}}
                    </div>
                    <md-icon md-svg-src={{getEmoticonPath(entry.entryMood)}} aria-label="emoticon" style="width:20px;height:20px;" ></md-icon>
                </md-content>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>