<div ng-controller="CardCtrl as cardCtrl" ng-cloak>
    <md-content>
        <md-list>
            <div style="background-color:white;height:50px;margin:5px;" layout="row">
        <h2 style="color: #354458;">{{currMonth}} {{currDate.getFullYear()}}</h2>
        <span flex></span>
        <div layout="column" layout-align="end end">
            <md-icon style="margin:5px;"md-svg-src="/assets/img/calendar_1.svg" aria-label="calendar" ng-click="#"></md-icon>
        </div>
            </div>
            <md-divider></md-divider>
            <md-list-item  ng-if="latestEntry.entryTime.getDate() != currDate.getDate()" style="background-color:#17A697;">
                <md-content layout="row" style="background-color:#17A697;" layout-fill >
                    <div style="background-color:#17A697;border-style:solid;border-width:1px;border-color:white;text-align:center;width:50px;height:50px;margin-top:5px;
                    margin-bottom:5px;padding-top:5px;color:white; font-size:18px;border-radius:5px;">
                        <div>{{currDate.getDate()}} </div>
                        <div>{{currMonth}}</div>
                    </div>
                        
                    <div id="journalPrompt"style="font-size:32px;text-align:center;padding:10px;" layout-align="center center" flex>          
                        <a ng-href="/#/entryone"><span class="md-display-1" style="color:white;">CREATE TODAY'S ENTRY</span></a>
                    </div>
                    
                </md-content>
            </md-list-item>
            
            <md-list-item ng-repeat="entry in currMonthEntries">
                <md-content layout="row" layout-fill>
                    
                    <div style="background-color:#17A697;text-align:center;width:50px;height:50px;margin-top:5px;
                    margin-bottom:5px;padding-top:5px;color:white; font-size:18px; border-radius:5px;">
                        <div>{{entry.entryTime.getDate()}}</div>
                        <div>{{currMonth}}</div>
                    </div>
                    
                    <div style="margin:5px;color:#3E5060;" class="md-list-item-text" flex>
                          {{entry.entryThought1}}
                    </div>
                    <md-icon md-svg-src={{getEmoticonPath(entry.entryMood)}} aria-label="emoticon" style="width:20px;height:20px;" ></md-icon>
                </md-content>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>