
<div style="margin:10px;" layout="column" ng-controller="CardCtrl as cardCtrl">
   
    <div style="background-color:white;height:50px;margin:5px;" layout="row">
        <h2 style="color: #354458;margin-left:20px;">{{currMonth}} 22 - 28, {{currDate.getFullYear()}}</h2>
        <span flex></span>
        <div layout="column" layout-align="end end">
            <md-icon style="margin:5px;"md-svg-src="/assets/img/calendar_1.svg" aria-label="calendar" ng-href="#"></md-icon>
        </div>
    </div>
    <md-divider style="margin-bottom:10px;margin-left:20px;"></md-divider>
        
        <div class='md-padding' layout="row" layout-wrap >
                <!--Demo card Sunday-->
            <md-card class="md-body-1" style="width: 285px;" layout="column">

                <md-card-header layout="row" style="padding:0;font-size:24px;height:45px;color:white;background-color:#17A697;">
                    <md-card-avatar style="background-color:#17A697;min-height:45px;width:50px;" layout="row" layout-align="center center"><span>22</span></md-card-avatar>
                    <md-card-header-text style="min-height:45px;" layout="row" layout-align="none center">
                        <span class="md-headline" style="text-align:right;margin-right:5px;" flex >Sunday</span>
                    </md-card-header-text>
                </md-card-header>

                <md-card-content style="padding:0;" flex>
                    <md-content style="height:220px;">
                        <md-list layout="column" style="font-size:14px;" flex>
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start">
                                <img src="/assets/img/friends.jpeg" alt="" style="max-width:100%;max-height:100%;">
                            </md-list-item>
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start">
                                <img ng-src="/assets/img/1.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">I am grateful that I got to spend time with Amy, Sam and Heather today. I hadn't seen them in a long time.</span>
                            </md-list-item>
                        </md-list>
                    </md-content>

                </md-card-content>

                <div class="md-actions" layout="row" style="height:25px;">
                    <span flex></span>
                    <img ng-src={{getEmoticonPath('okay')}} aria-label="emoticon" style="width:25px;height:25px">
                </div>
            </md-card>
             <!--Demo card Monday-->
            <md-card class="md-body-1" style="width: 285px;" layout="column">

                <md-card-header layout="row" style="padding:0;font-size:24px;height:45px;color:white;background-color:#17A697;">
                    <md-card-avatar style="background-color:#17A697;min-height:45px;width:50px;" layout="row" layout-align="center center"><span>23</span></md-card-avatar>
                    <md-card-header-text style="min-height:45px;" layout="row" layout-align="none center">
                        <span class="md-headline" style="text-align:right;margin-right:5px;" flex>Monday</span>
                    </md-card-header-text>
                </md-card-header>

                <md-card-content style="padding:0;" flex>
                    <md-content style="height:220px;">
                        <md-list layout="column" style="font-size:14px;" flex>
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start">
                                <img ng-src="/assets/img/1.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">I am grateful that I was able to have lunch with Rebecca today. She really made me feel better about life in general.</span>
                            </md-list-item>

                            <md-list-item style="margin-bottom:5px;" layout="row" layout-align="none start">
                                <img ng-src="/assets/img/2.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">I am grateful that I got to go to yoga class today. I feel much more relaxed now.</span>
                            </md-list-item>
                            <md-list-item style="margin-bottom:5px;" layout="row" layout-align="none start">
                                <img ng-src="/assets/img/3.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">I am grateful that I found a book...</span>
                            </md-list-item>
                        </md-list>
                    </md-content>

                </md-card-content>

                <div class="md-actions" layout="row" style="height:25px;">
                    <span flex></span>
                    <img ng-src={{getEmoticonPath('poor')}} aria-label="emoticon" style="width:25px;height:25px">
                </div>
            </md-card>
            <!--Demo card Tuesday-->

            <md-card class="md-body-1" style="width: 285px;border-radius: 3px 3px 3px 3px;" layout="column">

                <md-card-header layout="row" style="padding:0;font-size:24px;height:45px;color:white;background-color:#17A697;">
                    <md-card-avatar style="background-color:#17A697;min-height:45px;width:50px;" layout="row" layout-align="center center"><span>24</span></md-card-avatar>
                    <md-card-header-text style="min-height:45px;" layout="row" layout-align="none center">
                        <span class="md-headline" style="text-align:right;margin-right:5px;" flex>Tuesday</span>
                    </md-card-header-text>
                </md-card-header>

                <md-card-content style="padding:0;" flex>
                    <md-content style="height:220px;">
                        <md-list layout="column" style="font-size:14px;" flex>
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start">
                                <img src="/assets/img/hike.jpg" alt="" style="max-width:100%;max-height:100%;">
                            </md-list-item>
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start">
                                <img ng-src="/assets/img/1.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">I am grateful that I went hiking with my family at Mount Rainier National Park.</span>
                            </md-list-item>
                        </md-list>
                    </md-content>

                </md-card-content>

                <div class="md-actions" layout="row" style="height:25px;">
                    <span flex></span>
                    <img ng-src={{getEmoticonPath('great')}} aria-label="emoticon" style="width:25px;height:25px">
                </div>
            </md-card>
            
            <!--Demo card Wednesday-->

            <md-card class="md-body-1" style="width: 285px;border-radius: 3px 3px 3px 3px;" layout="column">

                <md-card-header layout="row" style="padding:0;font-size:24px;height:45px;color:white;background-color:#17A697;">
                    <md-card-avatar style="background-color:#17A697;min-height:45px;width:50px;" layout="row" layout-align="center center"><span>25</span></md-card-avatar>
                    <md-card-header-text style="min-height:45px;" layout="row" layout-align="none center">
                        <span class="md-headline" style="text-align:right;margin-right:5px;" flex>Wednesday</span>
                    </md-card-header-text>
                </md-card-header>

                <md-card-content style="padding:0;" flex>
                    <md-content style="height:220px;">
                        <md-list layout="column" style="font-size:14px;" flex>
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start">
                                <img ng-src="/assets/img/1.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">I am grateful that I went running in Ravenna Park today.</span>
                            </md-list-item>
                            
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start">
                                <img ng-src="/assets/img/2.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">I am grateful that I got to catch up with Amy today.</span>
                            </md-list-item>
                            
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start">
                                <img ng-src="/assets/img/3.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">I am grateful that I was able to work on my video project.</span>
                            </md-list-item>
                        </md-list>
                    </md-content>

                </md-card-content>

                <div class="md-actions" layout="row" style="height:25px;">
                    <span flex></span>
                    <img ng-src={{getEmoticonPath('good')}} aria-label="emoticon" style="width:25px;height:25px">
                </div>
            </md-card>
            
            <!--Live latest entry-->
            <md-card class="md-body-1" style="width: 285px;" layout="column" ng-hide="hideLatest == true">

                <md-card-header layout="row" style="padding:0;font-size:24px;height:45px;color:white;background-color:#17A697;">
                    <md-card-avatar style="background-color:#17A697;min-height:45px;width:50px;" layout="row" layout-align="center center"><span>{{latestEntry.entryTime.getDate()}}</span></md-card-avatar>
                    <md-card-header-text style="min-height:45px;" layout="row" layout-align="none center">
                        <span class="md-headline" style="text-align:right;margin-right:5px;" flex ng-click="hideEntry()">{{daysOfWeek[latestEntry.entryTime.getDay()]}}</span>
                    </md-card-header-text>
                </md-card-header>

                <md-card-content style="padding:0;" flex>
                    <md-content style="height:220px;">
                        <md-list layout="column" style="font-size:14px;" flex>
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start">

                                <img ng-src="/assets/img/1.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">{{latestEntry.entryThought1}}</span>
                            </md-list-item>

                            <md-list-item style="margin-bottom:5px;" layout="row" layout-align="none start">
                                <img ng-src="/assets/img/2.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">{{latestEntry.entryThought2}}</span>
                            </md-list-item>

                            <md-list-item layout="row" layout-align="none start">
                                <img ng-src="/assets/img/3.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">{{latestEntry.entryThought3}}</span>
                            </md-list-item>
                        </md-list>
                    </md-content>

                </md-card-content>

                <div class="md-actions" layout="row" style="height:25px;">
                    <span flex></span>
                    <img ng-src={{getEmoticonPath(latestEntry.entryMood)}} aria-label="emoticon" style="width:25px;height:25px">
                </div>
            </md-card>
            
            <!--Create today's entry card template-->
                <md-card class="md-body-1" style="width: 285px;" md-whiteframe="4" layout="column">          
                    <md-card-header layout="row" style="padding:0;font-size:24px;height:45px;color:white;background-color:#17A697;">
                        <md-card-avatar style="background-color:#17A697;min-height:45px;width:50px;" layout="row" layout-align="center center"><span>{{currDate.getDate()}}</span></md-card-avatar>
                        <md-card-header-text style="min-height:45px;" layout="row" layout-align="none center">
                            <span class="md-headline" style="text-align:right;margin-right:5px;" flex>{{daysOfWeek[currDate.getDay()]}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider style="color:white"></md-divider>
                    <md-card-content style="padding:5px;background-color:#17A697;" layout="column" flex>
                                 <span flex></span>
                                 <img ng-src="/assets/img/pencil.svg" alt="">
                                 <div id="journalPrompt"style="font-size:32px;text-align:center;">          
                                    <a ng-href="/#/entryone"><span class="md-display-1" style="color:white;">CREATE TODAY'S ENTRY</span></a>
                                </div>
                                <span flex></span>
                    </md-card-content>
                </md-card>
            
                 

            </div>    
       
</div>
