<div style="margin:10px;" layout="column" ng-controller="CardCtrl as cardCtrl">
    <div style="background-color:white;height:50px;padding:0;" layout="row" layout-align="end">
        <h2>{{currMonth}} {{currDate.getFullYear()}}</h2>
        <span flex></span>
        <md-button style="padding:0px;margin:0px;"><md-icon md-svg-src="/assets/img/calendar.svg" aria-label="calendar"></md-icon></md-button>
    
    </div>
    <md-divider style="margin-bottom:20px;"></md-divider>
    <div>   
        <div class='md-padding' layout="row" layout-wrap >
                <!--Create today's entry card template-->
                <md-card class="md-body-1" style="width: 285px;" ng-if="latestEntry.entryTime.getDate() != currDate.getDate()" layout="column">          
                    <md-card-header layout="row" style="padding:0;font-size:24px;height:45px;color:white;background-color:#17A697;">
                        <md-card-avatar style="background-color:#17A697;min-height:45px;width:50px;" layout="row" layout-align="center center"><span>{{currDate.getDate()}}</span></md-card-avatar>
                        <md-card-header-text style="min-height:45px;" layout="row" layout-align="none center">
                            <span class="md-headline" style="text-align:right;margin-right:5px;" flex>{{daysOfWeek[currDate.getDay()]}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider style="color:white"></md-divider>
                    <md-card-content style="padding:5px;background-color:#17A697;" layout="column" flex>
                                 <img ng-src="/assets/img/pencil.svg" alt="">
                                 <div id="journalPrompt"style="font-size:32px;text-align:center;">          
                                    <a ng-href="/#/entryone"><span class="md-display-1">CREATE TODAY'S ENTRY</span></a>
                                </div>
                    </md-card-content>
                </md-card>
            
                <md-card class="md-body-1" style="width: 285px;" ng-if= "currMonthEntries.length > 0" ng-repeat="entry in currMonthEntries" layout="column">
                
                    <md-card-header layout="row" style="padding:0;font-size:24px;height:45px;color:white;background-color:#17A697;">
                        <md-card-avatar style="background-color:#17A697;min-height:45px;width:50px;" layout="row" layout-align="center center"><span>{{entry.entryTime.getDate()}}</span></md-card-avatar>
                        <md-card-header-text style="min-height:45px;" layout="row" layout-align="none center">
                            <span class="md-headline" style="text-align:right;margin-right:5px;" flex>{{daysOfWeek[entry.entryTime.getDay()]}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    
                    <md-card-content style="padding:0;"flex>
                        <md-content style="height:220px;">
                        <md-list layout="column" style="font-size:14px;"flex>
                            <md-list-item style="margin-bottom:8px;" layout="row" layout-align="none start" ng-if="entry.entryThought1">
                                <img ng-src="/assets/img/1.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">{{entry.entryThought1}}</span>
                            </md-list-item>
                            
                            <md-list-item style="margin-bottom:5px;" layout="row" layout-align="none start" ng-if="entry.entryThought2">
                                <img ng-src="/assets/img/2.svg"style="margin-right:5px;" flex="10" >
                                <span flex="90">{{entry.entryThought2}}</span>
                            </md-list-item>
                            
                            <md-list-item layout="row" layout-align="none start" ng-if="entry.entryThought3">
                                <img ng-src="/assets/img/3.svg" style="margin-right:5px;" flex="10">
                                <span flex="90">{{entry.entryThought3}}</span>
                            </md-list-item>
                        </md-list>
                        </md-content>
                        
                    </md-card-content>
                    
                    <div class="md-actions" layout="row" style="height:20px;">
                        <span flex></span>
                        <md-icon md-svg-src={{getEmoticonPath(entry.entryMood)}} aria-label="emoticon"></md-icon>
                    </div>
                </md-card>
            </div>
        </div>
</div>
