/*override material css*/

/*shared components*/
.center-component {
    float: none !important;
    margin: auto;
}

/*login page*/
#login-form {
    margin-top: 100px;
}

#login-form label {
    color: white;
}

label {
    color:white;
}