<md-sidenav id="nav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" layout="column" style="height:100%">
            <div id="navLogo" layout="row">
                <span class="md-display-1" style="color:white;">be<span style="color:#17A697;">Great</span>ful<img ng-cloak style="vertical-align: 1%width:25px;height:25px;" src="/assets/img/begreatful_logo_blue_leaf.png"></img></span>
            </div>
            <md-list id="navBody" flex>
                <md-list-item id="navButton" ng-href="/#/board">
                    <span>journal</span>
                </md-list-item>
                <md-list-item id="navButton" ng-href="/#/community">
                    <span>community</span>
                </md-list-item >
                <md-list-item id="navButton" ng-href="/#/progress">
                    <span>progress</span>
                </md-list-item>
                <md-list-item id="navButton" ng-href="/#/me">
                    <span>account</span>
                </md-list-item>
                <md-list-item id="navButton" ng-href="/signout">
                    <span>logout</span>
                </md-list-item>
            </md-list>
            <div id="footer" layout="column" text-align="center">                
               <span>"Nothing can dim the light that shines from within."</span>
               <span flex-offset="5">-Maya Angelou</span>
            </div>
</md-sidenav>
       