<md-sidenav id="nav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z4" layout="column" style="height:100%">
            <div id="navLogo" layout="row" layout-align="center">
                <span class="md-display-1">be<span style="color:#17A697">Great</span>ful<md-icon md-svg-src="/assets/img/begreatful_logo.svg"></md-icon></span>
            </div>
            <md-list id="navBody" flex>
                <md-list-item id="navButton">
                    <md-button md-ink-ripple="#FF0000">journal</md-button>
                </md-list-item>
                <md-list-item id="navButton">
                    <md-button>community</md-button>
                </md-list-item >
                <md-list-item id="navButton">
                    <md-button>progress</md-button>
                </md-list-item>
                <md-list-item id="navButton">
                    <md-button>account</md-button>
                </md-list-item>
                <md-list-item id="navButton">
                    <md-button>logout</md-button>
                </md-list-item>
            </md-list>
            <div id="footer" layout="column" text-align="center">
                
               <p>"Nothing can dim the light that shines within."-Maya Angelou</p>
            </div>
</md-sidenav>
       