<md-sidenav id="nav" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z4" layout="column" style="height:100%">
            <div id="navLogo" layout="row" layout-align="center">
                <span class="md-display-1">be<span style="color:#17A697">Great</span>ful <md-icon style="vertical-align: 1%" md-svg-src="/assets/img/begreatful_logo_blue.svg"></md-icon></span>
            </div>
            <md-list id="navBody" flex>
                <md-list-item id="navButton" ng-href="/#/board">
                    <span>JOURNAL</span>
                </md-list-item>
                <md-list-item id="navButton" ng-href="/#/community">
                    <span>COMMUNITY</span>
                </md-list-item >
                <md-list-item id="navButton" ng-href="/#/progress">
                    <span>PROGRESS</span>
                </md-list-item>
                <md-list-item id="navButton"
                ng-href="/#/me">
                    <span>ACCOUNT</span>
                </md-list-item>
                <md-list-item id="navButton"
                ng-href="/signout">
                    <span>LOGOUT</span>
                </md-list-item>
            </md-list>
            <div id="footer" layout="column" text-align="center">
                
               <p>"Nothing can dim the light that shines from within."-Maya Angelou</p>
            </div>
</md-sidenav>
       