<h1>What are you grateful for today?</h1>
<div layout="column" flex-gt-sm="80" flex-offset-gt-sm="10">
    <md-input-container>
        <label>Grateful Thought 1</label>
        <textarea></textarea>
      </md-input-container>
   
       <md-input-container>
        <label>Grateful Thought 2</label>
        <textarea></textarea>
      </md-input-container>
   
       <md-input-container>
        <label>Grateful Thought 3</label>
        <textarea></textarea>
      </md-input-container>
      
      <div layout="row" layout-align="center">
      <md-button class="md-raised md-primary">Log</md-button>
      </div>
  
</div>