<div layout="column">
    
    <div style="margin-bottom:30px;" layout="column">
        <span style="color: #354458;">Monday, February 27</span>
        <md-divider></md-divider>
        <div class="md-display-1">What are you grateful for today?</div> 
    </div>
    
    <div layout="row">
        <img src="/assets/img/cloud.svg" alt="face" style="width:30px;height:30px;margin-right:5px;margin-bottom:15px;">
        <span style="height:30px;color: #354458;" layout="column" layout-align="center center">More Thoughts</span>
    </div>
    <div layout="row" flex>
        <md-input-container style="margin-left:30px;" flex>
                <label>More thoughts?</label>
                <textarea ng-model="entry.moreThoughts"></textarea>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center" style="margin:10px;">
      <md-button style="background-color:teal;" class="md-raised md-primary" ui-sref="journal.check">NEXT</md-button>
    </div>
    
</div>