<div layout="column" >
  
  <div style="margin-bottom:30px;" layout-gt-xs="row" layout-xs="column">
        <div class="md-display-1">What are you grateful for today?</div>
        <span flex></span>
        <span layout-gt-xs="column" layout-align="end center">Monday, February 27</span>
    </div>
  
   <div layout="row">
        <img src="assets/img/face.svg" alt="face" style="width:30px;height:30px;margin-right:5px;">
        <span style="height:30px;" layout="column" layout-align="center center">Emotional Check-in</span>
    </div>
  
  <div layout="row">  
   <md-card flex-offset-gt-sm="35" flex-gt-sm="30" flex-sm="100" flex-xs="100" ng-cloak>
      <md-list ng-repeat="item in menuItems" style="padding:0;">
        <md-list-item layout="row" style="padding:3px;" md-ink-ripple ng-click="setActive(item); entry.entryMood = item" ng-class="{activeOption: emotion === item}">
          <span flex></span>
          <md-icon md-svg-src="/assets/img/{{item}}.svg" style="width:50px;height:50px;margin-right:10px;" alt="{{item}}"></md-icon>
          <span>{{item}}</span>
          <span flex></span>
        </md-list-item>
        <md-divider></md-divider>
     </md-list>      
   </md-card>
   </div>
    <div style="margin:10px;" layout="row" layout-align="center">
      <md-button style="background-color:teal;" class="md-raised md-primary" ng-click="createEntry(entry)">Log</md-button>
    </div>
</div>