<div style="margin-left:10px;margin-right:10px;" layout="column" ng-controller="JournalCtrl as ctrl">
  <div layout="row">  
   <md-card flex-offset-gt-sm="35" flex-gt-sm="30" flex-sm="100" flex-xs="100">
      <md-list ng-repeat="item in menuItems" style="padding:0;">
        <md-list-item layout="row" style="padding:3px;" md-ink-ripple ng-click="setActive(item)" ng-class="{activeOption: emotion === item}">
          <span flex></span>
          <img ng-src="/assets/img/{{item}}.svg" style="width:50px;height:50px;margin-right:10px;" alt="{{item}}">
          <span>{{item}}</span>
          <span flex></span>
        </md-list-item>
     </md-list>      
   </md-card>
   </div>
    <div layout="row" layout-align="center">
      <md-button class="md-raised md-primary" ng-click="createEntry(entry)">Log</md-button>
    </div>
</div>