<div layout="column">
    
    <div style="margin-bottom:15px;" layout="column" flex>
        <div layout="row">
            <div style="font-size:20px;color: #354458;margin-bottom:10px;">Monday, February 27</div>
        </div>
        <md-divider flex></md-divider>
        <div class="md-display-1" style="margin-top:10px;" show-gt-xs hide-xs>What are you grateful for today?</div> 
        <div style="margin-top:10px;font-size:26px;color: #354458;"hide-gt-xs>What are you grateful for today?</div>  
    </div>
    
    <div layout="row">
        <img src="/assets/img/cloud.svg" alt="face" style="width:30px;height:30px;margin-right:15px;margin-bottom:15px;">
        <span style="height:30px;color: #354458;font-size:24px;" layout="column" layout-align="center center">More Thoughts</span>
    </div>
    <div layout="row" flex>
        <md-input-container style="margin-left:40px;" flex>
                <label>More thoughts?</label>
                <textarea style="border-color:#17A697;font-size:20px;" ng-model="entry.moreThoughts"></textarea>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center" style="margin:30px;">
      <md-button style="background-color:#17A697;font-size:24px;" class="md-raised md-primary" ui-sref="journal.check">NEXT</md-button>
    </div>
    
</div>