<!--Work-in-progress login page-->
<div ng-controller="LoginCtrl" style="height:100%;background-color:#354458;">
  <div style="background-color:#354458;color:white;min-height:100%" flex-gt-sm="40" flex-offset-gt-sm="30">
    <form class="form-signin" name="formLogin" layout="column" layout-padding> 
      <div id="navLogo" layout="row" layout-align="center">
        <span>be<span style="color:#17A697">Great</span>ful<md-icon  style="vertical-align: 1%"md-svg-src="/assets/img/begreatful_logo_blue.svg"></md-icon></span>
      </div>
      <div ng-messages="formLogin.$error" style="color:#EB7260" role="alert">
            <div ng-message="specificError">{{serverMessage}}</div>
      </div>  
      <md-input-container>
        <label for="email" class="sr-only" style="color:white;">Email address</label>
        <input type="email" id="email" name="emailField" class="form-control" style="color:white;border-color:white;" ng-model="user.email" required md-no-asterisk>
        <div ng-messages="formLogin.emailField.$error" role="alert">
            <div ng-message="required">Please enter a value for this field.</div>
            <div ng-message="email">This field must be a valid email address.</div>
        </div>  
      </md-input-container>
      
      <md-input-container>
        <label for="password" class="sr-only" style="color:white;">Password</label>
        <input type="password" id="password" name="passwordField" class="form-control" style="color:white;border-color:white;" ng-model="user.password" required md-no-asterisk>
        <div ng-messages="formLogin.passwordField.$error" role="alert">
            <div ng-message="required">Please enter a value for this field.</div>
        </div>  
      </md-input-container>
      
      <div style="padding:0;" layout="row" layout-align="center">
        <md-button class="md-raised" style="background-color:#17A697;color:white;" type="submit" ng-click="login(user)">LOGIN</md-button>
      </div>
      <div style="padding:0;" layout="row" layout-align="center">
        <p>or</p>
      </div> 
      <div layout="row" layout-align="center">
        <a href="#/signup" layout-align="center" style="color:#17A697;">sign up</a>
      </div> 
    </form>
   </div>
    
</div>